BACKEND_API_URL=https://fixiltnow-backend.onrender.com
JWT_COOKIE_SECRET=fixitnow_super_secret_jwt_key_32bytes_long!!
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TqyBbEcrg2A3pJe0pBtMF0EH4cpqABi1rcy8tFYoQpY3yPaSh6RA8pIQzbnRYmHAiuF5S8eNTv9pYzTwHoyeuyf00lI5LM0cf
